*{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body,html{
    margin: 0;
    background-color: var(--clr-white);
}

:root{
    --clr-orange:  hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);

    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white : hsl(0, 0%, 100%);
    --clr-black : rgb(0,0,0);

    --clr-backdrop :  rgba(0,0,0,.75);
}

img{
    max-width: 100%;
}

a{
    color: var(--clr-very-dark-blue);
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}