.hide {
  display: none;
}

.image-carousel {
  position: relative;
  top: -40px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-900);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.navigation-arrow > img {
  width: 9px;
}

.navigation-arrow-left {
  left: 0;
}

.navigation-arrow-right {
  right: 0;
}

@media (min-width: 1100px) {
  .image-carousel {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-width: 450px;
    max-width: 450px;
  }

  .navigation-arrow {
    display: none;
  }

  .carousel-image {
    cursor: pointer;
    border-radius: 20px;
  }

  .arrow-modal {
    cursor: pointer;
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
  }

  .arrow-modal-left {
    top: calc(31% + 30px);
    left: calc(50% - 315px);
  }

  .arrow-modal-right {
    top: calc(31% + 30px);
    left: calc(50% + 235px);
  }

  .image-carousel-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .carousel-image-modal {
    width: 550px;
  }
}
