.navbar-mobile{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    padding-top: 20px;
    background-color: var(--clr-white);
}
/* testing if fixes error */
.mobile-nav-left,
.mobile-nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mobile-menu-icon{
    cursor: pointer;
    transition: .1s ease-in-out;
}

.mobile-menu-icon:hover{
    cursor: pointer;
    filter: brightness(.1);
}

.logo{
    transition: .1s ease-in-out;
}

.logo:hover{
    cursor: pointer;
    filter: brightness(.1);
}

.desktop-nav-elements{
    display:none;
}

@media (min-width:1100px) {

    .navbar-mobile{
        padding-top: 40px;
        padding-bottom: 30px;
        margin-inline:120px;
        border-bottom: 1px solid rgba(0,0,0,.1) ;
    }

    .mobile-menu-icon{
        display: none;
    }

    .desktop-nav-elements{
        display:flex;
        gap: 25px;
        color: var(--clr-dark-grayish-blue);
    }

    .desktop-nav-element{
        position: relative;
        color: var(--clr-dark-grayish-blue);
        transition:.1s ease-in;
    }

    .desktop-nav-element:after{
        position: absolute;
        bottom:-48px;
        content: '';
        background-color: var(--clr-primary-500);
        width: 100%;
        height: 5px;
        display: block;
        opacity: 0;
        transition: .1s ease-in;
    }

    .desktop-nav-element:hover::after{
        opacity: 1;
    }

    .desktop-nav-elements > a:hover {
        color: var(--clr-very-dark-blue);
    }


    

    .mobile-nav-left,
    .mobile-nav-right{ 
    gap: 70px;
}
}