.product-info {
  position: relative;
  z-index: 1;
  top: -80px;
  background-color: var(--clr-white);
  padding: 20px;
  padding-top: 5px;
}

.product-company {
  color: var(--clr-primary-500);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 12px;
  margin-top: 20px;
}

.product-name {
  width: min(300px, 90%);
  color: var(--clr-neutral-300);
}

.product-description {
  line-height: 1.5;
  color: var(--clr-neutral-500);
}

.prices,
.prices-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices-left {
  gap: 10px;
}

.product-price {
  font-size: 24px;
  line-height: 1.5;
  color: var(--clr-neutral-300);
}

.product-original-price {
  color: var(--clr-neutral-500);
  opacity: 0.7;
  text-decoration: line-through;
}

.product-discount {
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-900);
  padding: 2px 10px;
  border-radius: 5px;
}

@media (min-width: 1100px) {
  .product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 180px;
    padding-top: 90px;
    gap: 100px;
  }

  .product-company {
    margin-top: 0;
  }

  .product-info {
    position: static;
    z-index: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
  }

  .product-name {
    font-size: 50px;
    width: 100%;
    margin-top: 20px;
  }

  .product-description {
    width: 100%;
  }

  .prices {
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-original-price {
    margin-top: 5px;
  }

  .product-price,
  .product-discount {
    margin-bottom: 0;
  }
}
