.shopping-cart{
    cursor: pointer;
    position: relative;
    display: flex;  
}

.shopping-cart-quantity{
    position: absolute;
    left: 7px;
    top: -10px;
    color: var(--clr-white);
    background-color: var(--clr-primary-500);
    padding: 1px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.shopping-cart > img {
    transition: .1s ease-in;
}

.shopping-cart > img:hover{ 
    filter: brightness(0.5);
}

@media (min-width:1100px){
    .shopping-cart{
        transform: scale(1.3);
    } 
}