.shopping-cart-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 90px;
  background-color: var(--clr-white);
}

.shopping-cart-quantity-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-800);
  border-radius: 10px;
  padding: 15px 0;
}

.shopping-cart-quantity-number {
  font-size: 16px;
  font-weight: 600;
}

.shopping-cart-icon {
  filter: brightness(100);
  margin-right: 10px;
  width: 15px;
}

@media (min-width: 1100px) {
  .shopping-cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 0 0;
    margin-bottom: 0;
  }

  .shopping-cart-quantity-buttons {
    gap: 30px;
  }

  .shopping-cart-quantity-number {
    cursor: default;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--clr-neutral-800);
  }
}
